@import './theme.scss';

@mixin scrollbar {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--#{$prefix}-scrollbar-thumb-color);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--#{$prefix}-scrollbar-thumb-color-hover);
  }

  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

@mixin reset {
  body,
  div,
  ul,
  li,
  ol,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  input,
  textarea,
  select,
  p,
  dl,
  dt,
  dd,
  a,
  img,
  button,
  form,
  table,
  th,
  tr,
  td,
  tbody,
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  menu,
  nav,
  section {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
  }
}

// 顶层元素
#vtg-root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-font-smoothing: antialiased;
  border: 1px solid transparent;

  // 放在这里popper的计算才会正确
  &.vtg-root--border {
    border-color: var(--#{$prefix}-border-color);
    table#vtg-table {
      thead.vtg-header {
        th.vtg-th {
          border-color: var(--#{$prefix}-border-color);
          border-right: var(--#{$prefix}-border) !important;
        }
      }
      tbody.vtg-body {
        td.vtg-td {
          border-color: var(--#{$prefix}-border-color);
          border-right: var(--#{$prefix}-border) !important;
        }
      }
    }
  }

  @include scrollbar;

  p {
    margin: 0;
    padding: 0;
  }

  span {
    margin: 0;
    padding: 0;
  }
}

// 主体容器
.vtg-client {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: relative;
  font-size: 14px;
  // box-sizing: padding-box;

  // 边框样式
  // &.vtg-client--border {
  //   border-color: var(--#{$prefix}-border-color);
  //   th.vtg-th {
  //     border-color: var(--#{$prefix}-border-color);
  //   }
  //   td.vtg-td {
  //     border-color: var(--#{$prefix}-border-color);
  //   }
  // }

  // highlight
  // hover
  &.vtg-client--highlight-hover-row {
    tr.vtg-tr:hover {
      & > td.vtg-td {
        background-color: var(--#{$prefix}-row-hover-bg-color);
      }
    }
  }
  // select
  &.vtg-client--highlight-select-row {
    tr.vtg-tr.current-row {
      td.vtg-td {
        background-color: var(--#{$prefix}-current-row-bg-color);
      }
    }
  }
  &.vtg-client--highlight-select-col {
    td.vtg-td.current-column {
      background-color: var(--#{$prefix}-current-column-bg-color);
    }
  }
  &.vtg-client--highlight-select-cell {
    tr.vtg-tr.current-row td.vtg-td.current-column {
      position: relative;

      &::after {
        box-sizing: border-box;
        display: block;
        content: ' ';
        width: calc(100% + 2px);
        height: calc(100% + 2px);
        position: absolute;
        left: -1px;
        top: -1px;
        pointer-events: none;
        border: 2px solid red;
      }
    }
  }
}

// 在表格内部初始化，以免影响到全局
table#vtg-table {
  display: table;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // 解决列冻结border问题
  border-collapse: separate;
  min-width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  outline: none;
  background-color: var(--#{$prefix}-bg-color);

  // 固定列样式
  .vtg-th.is-fixed--left.is-last-column::before,
  .vtg-th.is-fixed--right.is-first-column::before,
  .vtg-td.is-fixed--left.is-last-column::before,
  .vtg-td.is-fixed--right.is-first-column::before {
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    bottom: -1px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: none;
    touch-action: none;
    pointer-events: none;
  }

  .vtg-th.is-fixed--left.is-last-column::before,
  .vtg-td.is-fixed--left.is-last-column::before {
    right: -10px;
  }

  .vtg-th.is-fixed--right.is-first-column::before,
  .vtg-td.is-fixed--right.is-first-column::before {
    left: -10px;
  }

  &.is-scrolling-none {
    .vtg-th.is-fixed--left.is-last-column::before,
    .vtg-td.is-fixed--left.is-last-column::before,
    .vtg-th.is-fixed--right.is-first-column::before,
    .vtg-td.is-fixed--right.is-first-column::before {
      box-shadow: none;
    }
  }

  &.is-scrolling-left {
    .vtg-th.is-fixed.is-fixed--right.is-first-column::before,
    .vtg-td.is-fixed.is-fixed--right.is-first-column::before {
      box-shadow: var(--#{$prefix}-fixed-right-column);
    }
  }

  &.is-scrolling-right {
    .vtg-th.is-fixed.is-fixed--left.is-last-column,
    .vtg-td.is-fixed.is-fixed--left.is-last-column {
      border-right: 0;
      &::before {
        box-shadow: var(--#{$prefix}-fixed-left-column);
      }
    }
  }

  &.is-scrolling-middle {
    .vtg-th.is-fixed.is-fixed--right.is-first-column::before,
    .vtg-td.is-fixed.is-fixed--right.is-first-column::before {
      box-shadow: var(--#{$prefix}-fixed-right-column);
    }
    .vtg-th.is-fixed.is-fixed--left.is-last-column,
    .vtg-td.is-fixed.is-fixed--left.is-last-column {
      border-right: 0;
      &::before {
        box-shadow: var(--#{$prefix}-fixed-left-column);
      }
    }
  }

  // 表头属性
  thead.vtg-header {
    z-index: 6;
    position: sticky;
    top: 0;
    background-color: var(--#{$prefix}-header-bg-color);
    color: var(--#{$prefix}-header-text-color);

    tr.vtg-tr {
      box-sizing: border-box;
    }

    th.vtg-th {
      display: table-cell;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-weight: 600;
      border-top: none;
      border-left: none;
      border-bottom: var(--#{$prefix}-border);
      border-right: 1px solid transparent;
      height: 36px;
      min-width: 0;
      text-overflow: ellipsis;
      vertical-align: middle;
      position: relative;
      text-align: left;
      z-index: 1;

      // 对齐方式
      &.vtg-th--left {
        div.vtg-th-cell {
          justify-content: flex-start;
          span {
            text-align: left;
          }
        }
      }
      &.vtg-th--center {
        div.vtg-th-cell {
          justify-content: center;
          span {
            text-align: center;
          }
        }
      }
      &.vtg-th--right {
        div.vtg-th-cell {
          justify-content: flex-end;
          span {
            text-align: right;
          }
        }
      }
      &.vtg-th--top {
        div.vtg-th-cell {
          align-items: flex-start;
        }
      }
      &.vtg-th--middle {
        div.vtg-th-cell {
          align-items: center;
        }
      }
      &.vtg-th--bottom {
        div.vtg-th-cell {
          align-items: flex-end;
        }
      }

      // 文本溢出隐藏
      &.vtg-th--text-ellipsis {
        div.vtg-th-cell__text span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &.is-fixed {
        z-index: 4;
        position: sticky;
        background-color: var(--#{$prefix}-header-bg-color);
      }
    }

    div.vtg-th-cell {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      white-space: normal;
      word-break: break-all;
      padding: 0 12px;
    }
  }

  // 表格内容
  tbody.vtg-body {
    tr.vtg-tr {
      // 初始化
      border: none;
      box-sizing: border-box;

      &.is-striped {
        td.vtg-td {
          background-color: var(--#{$prefix}-row-stripe-bg-color);
        }
      }

      &:hover {
        td.vtg-td.vtg-td--expand {
          background-color: var(--#{$prefix}-expanded-cell-bg-color);
        }
      }
    }

    td.vtg-td {
      display: table-cell;
      margin: 0;
      padding: 0;
      box-sizing: border-box;

      border-bottom: var(--#{$prefix}-border);
      border-right: 1px solid transparent;
      min-width: 0;
      vertical-align: middle;
      position: relative;
      text-align: left;
      z-index: 1;

      // 对齐方式
      &.vtg-td--left {
        div.vtg-cell {
          justify-content: flex-start;
          span {
            text-align: left;
          }
        }
      }
      &.vtg-td--center {
        div.vtg-cell {
          justify-content: center;
          span {
            text-align: center;
          }
        }
      }
      &.vtg-td--right {
        div.vtg-cell {
          justify-content: flex-end;
          span {
            text-align: right;
          }
        }
      }
      &.vtg-td--top {
        div.vtg-cell {
          align-items: flex-start;
        }
      }
      &.vtg-td--middle {
        div.vtg-cell {
          align-items: center;
        }
      }
      &.vtg-td--bottom {
        div.vtg-cell {
          align-items: flex-end;
        }
      }

      // 文本溢出隐藏
      &.vtg-td--text-ellipsis {
        div.vtg-cell__text span {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      &:has(.vtg-cell__index) {
        z-index: var(--#{$prefix}-index);
      }

      &.vtg-td--expand {
        background-color: var(--#{$prefix}-expanded-cell-bg-color);
      }

      &.vtg-td--group {
        div.vtg-cell {
          display: flex;
          align-items: center;
          width: 100%;
        }
      }

      &.is-fixed {
        z-index: 4;
        position: sticky;
        background-color: var(--#{$prefix}-bg-color);
      }

      // 框选
      &.box-selection {
        z-index: 2;
        background-color: var(--#{$prefix}-select-bg-color) !important;

        &::after {
          display: block;
          content: ' ';
          z-index: -1;
          position: absolute;
          pointer-events: none;
          height: calc(100% + 2px);
          width: calc(100% + 2px);
          left: -1px;
          box-sizing: border-box;
          top: -1px;
          border: 0 solid var(--#{$prefix}-select-border-color);
        }

        &.box-selection__left-top {
          &::after {
            border-left-width: 2px;
            border-top-width: 2px;
          }
        }

        &.box-selection__top {
          &::after {
            border-top-width: 2px;
          }
        }

        &.box-selection__right-top {
          &::after {
            border-right-width: 2px;
            border-top-width: 2px;
          }
        }

        &.box-selection__right {
          &::after {
            border-right-width: 2px;
          }
        }

        &.box-selection__right-bottom {
          &::after {
            border-right-width: 2px;
            border-bottom-width: 2px;
          }
        }

        &.box-selection__bottom {
          &::after {
            border-bottom-width: 2px;
          }
        }

        &.box-selection__left-bottom {
          &::after {
            border-left-width: 2px;
            border-bottom-width: 2px;
          }
        }

        &.box-selection__left {
          &::after {
            border-left-width: 2px;
          }
        }
      }
    }

    // 单元格
    div.vtg-cell {
      box-sizing: border-box;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      white-space: normal;
      word-break: break-all;
      padding: 0 12px;
    }

    // 空白填充
    .placement {
      width: 20px;
      height: 100%;

      display: flex;
      justify-content: center;

      &.placement--tree-line::before {
        content: ' ';
        position: absolute;
        border-right: 1px dashed var(--#{$prefix}-tree-line-color);
        height: 100%;
        width: 2px;
        top: 0;
      }

      &.placement--last-tree-node::before {
        height: 50%;
      }

      &.placement--last-padding::after {
        content: ' ';
        position: absolute;
        border-top: 1px dashed var(--#{$prefix}-tree-line-color);
        height: 0;
        width: 8px;
        transform: translateX(5px);
      }
    }

    // 分组icon
    .group-icon {
      width: 28px;
      height: 28px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      transform: rotate(0deg);
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      &.group-icon--expand {
        transform: rotate(90deg);
      }
    }

    // 树形节点icon
    .tree-leading {
      width: 20px;
      height: 100%;

      .tree-leading-icon {
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        transform: rotate(0deg);
        transition: transform 0.2s ease-in-out;
        cursor: pointer;

        &.tree-leading-icon--expand {
          transform: rotate(90deg);
        }
      }

      &.tree-leading--tree-line::after {
        display: block;
      }

      &.tree-leading--tree-line-hide::after {
        display: none;
      }

      &.tree-leading--first-node:not(:has(.tree-leading-icon)) {
        display: none;
      }

      &:not(:has(.tree-leading-icon))::after {
        content: ' ';
        border-top: 1px dashed var(--#{$prefix}-tree-line-color);
        position: absolute;
        width: 8px;
        height: 0;
      }

      &:has(.tree-leading-icon--expand)::after {
        content: ' ';
        border-right: 1px dashed var(--#{$prefix}-tree-line-color);
        position: absolute;
        width: 2px;
        height: calc(50% - 10px);
        transform: translateX(9px);
      }
    }

    // 展开行icon
    .row-expand-icon {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      transform: rotate(0deg);
      transition: transform 0.2s ease-in-out;
      cursor: pointer;

      &.row-expand-icon--expand {
        transform: rotate(90deg);
      }
    }
  }
}

// 单元格
.vtg-th-cell__checkbox {
  input {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
  }

  .vtg-th-cell__checkbox-title {
    margin-left: 4px;
  }
}

.vtg-cell__checkbox {
  justify-content: center;

  input {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
  }

  .vtg-cell__checkbox-field {
    margin-left: 4px;
  }
}

.vtg-mask {
  width: 100%;
  height: 100%;
  overflow: auto;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--#{$prefix}-header-text-color);
}
// popper
.vtg-popper-container {
  z-index: 5;
  position: absolute;
  background-color: #fff;
  // 既要盖住下面的元素，又要显示下面单元格的边框，所以需要加这个border
  border: 1px solid var(--vtg-border-color);
}

.vtg-popper-container--cover {
  border: 2px solid var(--#{$prefix}-select-border-color);
}

.vtg-fixed-shadow {
  position: absolute;
  top: 0;
  height: 100%;
  z-index: 7;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 10px;
    bottom: -1px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-shadow: none;
    touch-action: none;
    pointer-events: none;
    box-shadow: none;
  }
}

.vtg-fixed-shadow--left {
  &::before {
    box-shadow: var(--#{$prefix}-fixed-left-column);
  }
}

.vtg-fixed-shadow--right {
  &::before {
    box-shadow: var(--#{$prefix}-fixed-right-column);
  }
}

// .vtg-popper-container-x {
//   width: 100%;
//   height: 100%;
// }

// TODO
.vtg-popper-cell {
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-all;
  // line-height: 23px;
  padding: 8px 12px;

  &.vtg-cell__index {
    padding: 0;
  }

  &.vtg-cell__checkbox {
    .vtg-cell__checkbox-field {
      margin-left: 4px;
    }
  }
}
